<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="main.css" rel="stylesheet">
 
  <title>let's enjoy</title>
</head>
<body>
  <div>
    <h1>JokePingPong</h1>
  </div>
  <div class="jokes">
    <p> <%= jokeReciver%></p>
    <p class="teller"><%= jokeTeller %></p>
  </div>
  <form action="/" class="buttons" method="POST">
  <button type="submit" name="action" value="Any">Any</button>
  <button type="submit" name="action" value="Misc">Misc</button>
  <button type="submit" name="action" value="Programming">Programming</button>
  <button type="submit" name="action" value="Dark">Dark</button>
  <button type="submit" name="action" value="Pun">Pun</button>
  <button type="submit" name="action" value="Spooky">Spooky</button>
  <button type="submit" name="action" value="Christmas">Christmas</button>
</form>

  
  
</body>
</html>